<article>
  <header><h1>Biography</h1></header>

<div class="bibliography">
    <div class="item">
        <div class="timespan">2019-present</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/voestalpine-logo.png" />
            </div>
        </div>
        <div class="desc">I am the Data Science & AI Lead at voestalpine High Performance Metals GmbH, where I am part of the Global Digitalization Management.</div>
    </div>

    <div class="item">
        <div class="timespan">2017-2019</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/cambridge-logo.png" />
            </div>
        </div>
        <div class="desc">BSC at TU Wien in Software & Information Engineering. Text test.
        text fleijfleijs l lisjg.</div>
    </div>
    <div class="item">
        <div class="timespan">2015-2016</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/oeaw-logo.png" />
            </div>
        </div>
        <div class="desc">Johann Radon Institute for Computational and Applied Mathematics (RICAM)</div>
    </div>
    <div class="item">
        <div class="timespan">2012-2015</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/univie-logo.png" />
            </div>
        </div>
        <div class="desc">
            PhD at University of Vienna, Austria. My thesis <a href="http://othes.univie.ac.at/38207/" target="new">Optical flow on evolving manifolds with an application to the analysis of fluorescence microscopy data</a>
        </div>
    </div>
    <div class="item">
        <div class="timespan">2010-2012</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/tuwien-logo.png" />
            </div>
        </div>
        <div class="desc">MSc at TU Wien in Computational Intelligence</div>
    </div>
    <div class="item">
        <div class="timespan">2005-2010</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/tuwien-logo.png" />
            </div>
        </div>
        <div class="desc">BSC at TU Wien in Software & Information Engineering</div>
    </div>
</div>

</article>

{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
