<article>
<header><h1>Biography</h1>
I am interested in maths, data, science, ...
</header>
<div class="bibliography">
    <div class="item">
        <div class="timespan">2019-present</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/voestalpine-logo.png" />
            </div>
        </div>
        <div class="desc">
            I am the Data Science & AI Lead at <a href="https://www.voestalpine.com/highperformancemetals/en/" target="_blank">voestalpine High Performance Metals</a> in Vienna, Austria.<br/>
            During Winter term 2019, I was also an external lecturer at the Faculty of Informatics at TU Wien.
        </div>
    </div>
    <div class="item">
        <div class="timespan">2017-2019</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/cambridge-logo.png" />
            </div>
        </div>
        <div class="desc">I held a position as a research associate within the Department of Applied Mathematics and Theoretical Physics (<a href="https://www.damtp.cam.ac.uk/" target="_blank">DAMTP</a>) at the <a href="https://www.cam.ac.uk/" target="_blank">University of Cambridge, UK</a>. I was a member of the <a href="http://www.damtp.cam.ac.uk/research/cia/" target="_blank">Cambridge Image Analysis</a> group and was supervised by <a href="https://www.damtp.cam.ac.uk/user/cbs31/" target="_blank">Prof Dr Carola-Bibiane Schönlieb</a>.</div>
    </div>
    <div class="item">
        <div class="timespan">2015-2016</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/oeaw-logo.png" />
            </div>
        </div>
        <div class="desc">I was a research scientist at the Johann Radon Institute for Computational and Applied Mathematics (<a href="https://www.ricam.oeaw.ac.at/" target="_blank">RICAM</a>) and part of the <a href="https://www.ricam.oeaw.ac.at/research/groups/group-scherzer/" target="_blank">Inverse Problems and Mathematical Imaging</a> group.</div>
    </div>
    <div class="item">
        <div class="timespan">2012-2015</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/univie-logo.png" />
            </div>
        </div>
        <div class="desc">
            I earned a PhD in Computer Science from the <a href="https://www.univie.ac.at/" target="_blank">University of Vienna</a>, where I was supervised by <a href="https://www.csc.univie.ac.at/scherzer/" target="_blank">Univ-Prof Dr Otmar Scherzer</a>.
            During my PhD studies I was a member of the Computational Science Center (<a href="https://www.csc.univie.ac.at/" target="_blank">CSC</a>) and of the <a href="https://www.csc.univie.ac.at/ik/" target="_blank">Vienna Graduate School in Computational Science</a>.
            My thesis investigates <a href="http://othes.univie.ac.at/38207/" target="_blank">Optical flow on evolving manifolds with an application to the analysis of fluorescence microscopy data</a>.
        </div>
    </div>
    <div class="item">
        <div class="timespan">2005-2012</div>
        <div class="pic">
            <div class="dot"></div>
            <div class="logo">
                <img src="/assets/images/tuwien-logo.png" />
            </div>
        </div>
        <div class="desc">I obtained a MSc from TU Wien in Computational Intelligence. My Master's thesis is on <a href="/assets/files/mscthesis.pdf" target="_blank">Image Denoising with Variational Methods via Graph Cuts</a> and was supervised mainly by <a href="https://www.csc.univie.ac.at/scherzer/" target="_blank">Univ-Prof Dr Otmar Scherzer</a>. BSC at TU Wien in Software & Information Engineering. My Bachelor's thesis is on <a href="/assets/files/bscthesis.pdf" target="_blank">Metaheuristics for the multicast tree scheduling problem</a> and was supervised by <a href="https://www.dbai.tuwien.ac.at/staff/musliu/" target="_blank">Priv-Doz Dr Nysret Musliu</a> and <a href="https://informatics.tuwien.ac.at/people/sandford-bessler" target="_blank">Priv-Doz Dr Sandford Bessler</a>.</div>
    </div>
</div>
<p>Full CV available upon request.</p>
</article>

<article>
<header><h1>Teaching</h1></header>

In 2019, jointly with <a href="https://derndorfer.eu/" target="_blank">Christoph Derndorfer-Medosch</a>, I designed and held a new lecture course on <a href="https://free-and-open-technologies.github.io/" target="_blank">Free and Open Technologies</a> at TU Wien as part of the new Master’s programme <a href="https://informatics.tuwien.ac.at/master/media-and-human-centered-computing/" target="_blank">Media and Human-Centered Computing</a>.  See also the official <a href="https://tiss.tuwien.ac.at/course/courseDetails.xhtml?dswid=2593&dsrid=293&courseNr=193067&semester=2019W" target="_blank">TISS</a> page.<br/><br>

In 2018, jointly with <a href="https://mehrhardt.github.io/" target="_blank">Dr Matthias Erhardt</a>, I held the lecture course <a href="http://www.damtp.cam.ac.uk/research/cia/inverse-problems" target="_blank">Inverse Problems</a> at University of Cambridge during Lent term as part of the Mathematical Tripos Part III.

</article>
